html {
  background: url(./images/bgRink.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;*/
  /*background: Gainsboro;*/
  font-family: sans-serif;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

#title-bar {
  color: #ff80ff;
}






.fun-hockey {
  display: inline-block;
  margin: 0;
  z-index: 5;
}

.hp-container {
  margin-top: -150px;
}

.hp-container img {
  /*display: inline-block;
  position: relative;*/
  max-width: 175px;
  width: 100%;
}

.player-orange {
  /*position: relative;*/
  display: inline-block;
}

.computer-green {
  /*position: relative;*/
  display: inline-block;
  float: right;
}


.hp-mascots {
  margin-top: -525px;
}

.hp-mascots img {
  /*display: inline-block;
  position: relative;*/
  max-width: 350px;
  width: 100%;
}

.mascot-green {
  /*position: relative;*/
  display: inline-block;
}

.mascot-orange {
  /*position: relative;*/
  display: inline-block;
  float: right;
}

.canvas-container {
  /*position: relative;*/
  height: 100%;
  /*width: 800px;*/
  width: 100%;
  text-align:center;
  margin: auto;
  opacity: 0.85;
}

.source {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin: 0 auto;
  color: white;
}

.text-block {

}


.player {
  display: inline-block;
  font-size: 30px;
  color: orange;
  font-style: italic;
  text-shadow: -1px 1px #ffe4b3;
}

.computer {
  display: inline-block;
  float: right;
  font-size: 30px;
  color: green;
  font-style: italic;
  text-shadow: 1px 1px #b3ffb3;
}

.score {

}

.canvas {
  margin-left: auto;
  margin-right: auto;
}

#game-canvas {
  border: 10px solid DimGrey;
  /*This Defines the Corner Curvature Appearance, rinkRadius*/
  /*border-radius: 75px;*/
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 20;
}

.container-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid blue;*/
}

.controls tr {
  border-bottom: 1px dotted #e6e6e6;
}
.controls tr:first-of-type {
  border-top: 1px dotted #e6e6e6;
}
.controls td {
  padding: 20px 10px;
}

.controls {
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.instructions {
  font-size: 20px;
  font-style: italic;
}
.instructions strong {
  font-size: 24px;
  font-weight: 400;
}

.source {
  font-size: 10px;
}

.hidden {
  display: none;
}

div {
  /*border: 1px dotted red;*/
}
